.textarea {
    display: flex;
    text-align: left;
    font-size: xx-large;
    height: 100px;
    background-color: #DB6A8F;
    padding: 10px;
}

.text {
    text-align: left;
    font-size: xx-large;
    width:100%;
}

.phonemes {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    background-color:#4AA3A2;
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.phoneme {
    align-self: center;
    font-size: xx-large;
    height: 100%;
    width: 100%;
}

.mots{
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-gap: 10px;
    background-color:#A7E0E0;
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.mot{
    align-self: center;
    font-size: xx-large;
    border: 3px;
    height: 100%;
    width: 100%;
    background-color: #E8AABE;
}

.delete{
    align-self: center;
    font-size: xx-large;
    border: 3px;
    height: 100%;
    width: 100%;
    background-color: #CA3C66;
}